# Entorno virtual
venv/
.venv/

# Archivos de Python generados
*.pyc
*.pyo
__pycache__/

# Base de datos SQLite
*.db

# Variables de entorno
.env

# Archivos de test
.coverage
htmlcov/
.pytest_cache/

# Otros
*.log
*.swp
*.swo
.DS_Store # macOS